/* hero background image */
.bgimage {
    height:100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url('https://static01.nyt.com/images/2022/07/12/science/12WEBB-LIVE-carina-header/12WEBB-LIVE-carina-header-videoSixteenByNine3000.jpg');
    
    background-size:cover;
    position:relative;
    text-shadow: 5px 5px 5px black;

}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* div.container {
    color: white;
} */

.navbar-nav ms-auto {
    color: white;
    
}

